<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>MATAdvertiserId</key>
        <string>11870</string>
        <key>MATConversionKey</key>
        <string>f57d24ff3a9c73e4a1210d6c0e99f770</string>
        <key>appName</key>
        <string>NLWGEN | Legacy</string>
        <key> appStoreID</key>
        <string>597842305</string>
        <key>appStoreUrl</key>
        <string>https://ru-nlw.nlwgen.org/update/nlwgen-legacy.apk</string>
        <key>minVersion</key>
        <string>0.0.1a</string>
        <key>recommendedServerId</key>
        <string>1</string>
        <key>servers</key>
        <array>
            <dict>
                <key>serverId</key>
                <string>1</string>
                <key>serverName</key>
                <string>S1 PRE-ALPHA DENOJS</string>
                <key>url</key>
                <string>http://127.0.0.1:3000/</string>
            </dict>
        </array>
    </dict>
</plist>
